body{
    background-color: #fafafa;
}

nav{
    background-color: #ff4814;
}

.btn-large{
      background-color: #ff4814;  
}

.btn-large:hover{
      background-color: #ff673d;  
}

.container{
    margin-top: 50px;
}

.material-icons.red900 { 
    color: #B71C1C; 
    cursor: pointer; 
}
#myInput {
    background-position: 10px 12px; /* Position the search icon */
    background-repeat: no-repeat; /* Do not repeat the icon image */
    width: 100%; /* Full-width */
    font-size: 16px; /* Increase font-size */
    padding: 12px 20px 12px 40px; /* Add some padding */
    border: 1px solid #ddd; /* Add a grey border */
    margin-bottom: 12px; /* Add some space below the input */
}
